.word-row {
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(5, 20px);
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: darkgray;
}